Host *
  ForwardAgent yes
  ForwardX11 no
  PasswordAuthentication no
  StrictHostKeyChecking yes
  CheckHostIP yes
  VisualHostKey yes
  HostbasedAuthentication no
  GSSAPIAuthentication no
  GSSAPIDelegateCredentials no
  BatchMode no
  AddressFamily any
  ConnectTimeout 0
  Port 22
